*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
}
.btn-outline-primary {
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%) ;
    border-radius: 25px;
    width: 35%;
}
.btn-primary {
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
    border-radius: 35px;
    width: 35%;
    height: 65px;
    margin-top: 10px;
}
.stat-number {
    font-size: 60px;
    font-weight: bold;
}
.stat-item {
    color:gray;
    text-align: center;
}

.stat-col img {
    width: 25%;
    
}
.col-lg-6 img {
    max-width: 100%;
}
.illu-left{
    padding-left: 80px;
}
.illu-item {
    margin-top: 80px;
    margin-bottom: 80px;
}
.footer-top {
    background: url(images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    margin-top: 200px;  

}

.footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    height: auto;
    padding: 50px 50px 5px 50px;

}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 1em;
}
.btn-secondary{
    background-color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}
 .btn:hover {
    background-color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
}
i:hover {
    background-color:hsl(321, 100%, 78%);
    cursor: pointer;
}